@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my sales page made with ASP NET CORE Model View Controller</a>.</p>

</div>
