@model WebSalesMVC.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h3>Seller</h3>
<hr></hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id"></input>
            <div class="form-label mt-4">
                <label asp-for="Seller.Name" class="form-label">

                </label>
                <input asp-for="Seller.Name" class="form-control"></input>
            </div>
            <div class="form-label mt-4">
                <label asp-for="Seller.Email" class="form-label">

                </label>
                <input asp-for="Seller.Email" class="form-control"></input>
            </div>
            <div class="form-label mt-4">
                <label asp-for="Seller.BirthDate" class="form-label">

                </label>
                <input asp-for="Seller.BirthDate" class="form-control"></input>
            </div>
            <div class="form-label mt-4">
                <label asp-for="Seller.BaseSalary" class="form-label">

                </label>
                <input asp-for="Seller.BaseSalary" class="form-control"></input>
            </div>
            <div class="form-label mt-4">
                <label asp-for="Seller.DepartmentId" class="form-label">

                </label>
                <select asp-for="Seller.DepartmentId" aps-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-label mt-4">
                <input type="submit" value="Save" class="btn btn-outline-success"></input>
            </div>
        </form>
    </div>
</div>

